
body {
  background-image: url('https://images.ctfassets.net/hrltx12pl8hq/6TIZLa1AKeBel0yVO7ReIn/1fc0e2fd9fcc6d66b3cc733aa2547e11/weather-images.jpg?fit=fill&w=1200&h=630'); /* Replace with the actual path to your image */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center center; 
  margin: 0; 
  padding: 0;
}

.weather-app-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

}

.weather-app {
 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  padding: 20px; 
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  border: 2px solid #007bff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
}


.weather-form {
  text-align: center;
  margin-bottom: 20px;
}

.location-input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
}



.weather-display {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.location {
  font-size: 24px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 18px;
}

.description {
  font-size: 16px;
  margin-top: 10px;
}

.error-message {
  text-align: center;
  font-size: 18px;
  color: red;
}


.search-button {
  background-color: #080808; 
  color: #fff;

  position: relative;
  overflow: hidden;
}

.search-button .shine {
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
